{% extends "app/layout.html" %}
{% block body %}
<div class="container main">

    {% if user.is_authenticated %}

    <img src="https://i2.paste.pics/f1a015e17db4165e024efb9061c271c5.png">
    <input  class="form-control" style="margin-bottom: 15px;" type="number" id="val1" name="val1" placeholder="Enter value of x">
    <input class="form-control"  style="margin-bottom: 15px;" type="number" id="val2" name="val2" placeholder="Enter value of n">
    <button class="btn btn-primary"  style="margin-bottom: 15px;" onclick = "calculate()">Calculate</button>
    <p id="solution"></p>

    {% else %}
        <p>Login to continue</p>
    {% endif %}

</div>
<script>
    function calculate() {
        let values = {
                'x': parseInt(document.getElementById('val1').value),
                'n': parseInt(document.getElementById('val2').value)
            }
        console.log(values)
        fetch('api/v1/calculate', {
            method: 'POST',
            body :JSON.stringify(values)
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById("solution").innerText = data['result']
        })
        .catch((error) => {
            document.getElementById("solution").innerText = 'Error'
            console.error('Error:', error);
        });
    }
</script>

{% endblock %}